<ion-view>
  <ion-nav-title>
    <!-- <a class="icon-left ion-chevron-left" ng-click='doTheBack()'>
  		Back
  	</a> -->
    New Missions
  </ion-nav-title>
  <ion-content class="padding">
    <div class="row responsive-sm">
      <div class="col">
        <h3>CANADIAN AVIATION REGULATION COMPLIANCE – GENERAL FLIGHT RULES</h3>
        <ion-title>These rules apply to all UAV operations in <span class="font-weight-bold">Canada</span>. Please read them carefully and acknowledge at the end of the list that your UAV operation does not violate any of these rules.
        </ion-title>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="col">
        <div class="list list-rules-yes">
          <div class="item item-divider">
            Must Do
          </div>
          <a class="item item-text-wrap">
        UAV must have name, address, and telephone number of operator visible on aircraft.
      </a>
          <a class="item item-text-wrap">
        Determine that the aircraft is fit for flight before takeoff. This includes the pilot deeming it serviceable, and maintenance of all components has been completed and kept up to date in accordance with manufacturer’s instructions
      </a>
          <a class="item item-text-wrap">
        Notify the appropriate air traffic control as soon as a UAV is not under pilot’s control or enters or is about to enter controlled airspace.
      </a>
          <a class="item item-text-wrap">
        Give way to manned aircraft at all times.
      </a>
          <a class="item item-text-wrap">
        Keep the UAV within visual line of sight at all times.
      </a>
          <a class="item item-text-wrap">
        Visual observers must communicate with the pilot in timely and reliable way, relaying information on hazards and air traffic. A person can’t be an observer for more than one UAV at a time. An observer cannot perform duties from a moving vehicle without an SFOC.
      </a>
          <a class="item item-text-wrap">
        Stop operations the moment aviation safety or the safety of a person or property is threatened.
      </a>
          <a class="item item-text-wrap">
        Before take-off or landing ensure the site for take-off/landing is suitable and there is not risk of collision with anything.
      </a>
          <a class="item item-text-wrap">
        Prior to operations, the pilot must be familiar with aeronautical charts, NOTAMs, and CFS for the area being flown in.
      </a>
          <a class="item item-text-wrap">
        Prior to operations, the pilot must know weather information relevant to their flight.
      </a>
          <a class="item item-text-wrap">
        Prior to operations, the pilot must ensure there is enough fuel or energy to complete the flight.
      </a>
          <a class="item item-text-wrap">
        Prior to operations, the pilot must ensure each crew member knows their duties during operations as well as location and use of emergency equipment.
      </a>
          <a class="item item-text-wrap">
        All crew members must comply with the pilot’s instructions at all times.
      </a>
          <a class="item item-text-wrap">
        Operations must be ceased if any of the listed incidents or accidents occur: injuries to a person, contact with a person, animal, vehicle, vessel, building, structure, damage to the UAV, the UAV leaves lateral or altitude boundaries, collision or less of separation (getting too close to) another aircraft, UAV flies away or becomes uncontrollable, any other incident requiring a Canadian Aviation Daily Occurrence Report
      </a>
          <a class="item item-text-wrap">
        Prior to operations, pilot must confirm no radio interference is likely.
      </a>
          <a class="item item-text-wrap">
        If take-off occurs from an altitude about 10,000 feet ASL all crew members must use oxygen during operations.
      </a>
          <a class="item item-text-wrap">
        Manufacturer’s operation manual must be immediately available to all crew members during operation.
      </a>
          <a class="item item-text-wrap">
        Operation in transponder airspace is only allowed if a) the UAV has a transponder and pressure-altitude reporting equipment or b) an air traffic control unit allows permission
      </a>
          <a class="item item-text-wrap">
        A minimum of $100,000 in liability insurance must be held covering each person involved.
      </a>
    </div>
    <div class="list list-rules-no">
          <div class="item item-divider">
            Must Not Do
          </div>
          <a class="item item-text-wrap">
        UAV cannot leave Canadian Domestic Airspace.
      </a>
          <a class="item item-text-wrap">
        Do not operate at a lower altitude than allows the aircraft to glide clear of persons or property on the ground in case of emergency landing.
      </a>
          <a class="item item-text-wrap">
        Do not operate in close proximity to other aircraft as to create risk of collision.
      </a>
          <a class="item item-text-wrap">
        Do not operate in a reckless or negligent fashion.
      </a>
          <a class="item item-text-wrap">
        Do not carry living creatures on board a UAV.
      </a>
          <a class="item item-text-wrap">
        Do not operate a UAV within 12 hours of consuming an alcoholic beverage, while under the influence of alcohol or drugs, or while impaired.
      </a>
          <a class="item item-text-wrap">
        Do not use explosive, corrosive, flammable, biohazardous, or light-emitting payloads without an SFOC.
      </a>
          <a class="item item-text-wrap">
        Do not use a portable electronic device near a control station if it may interfere with the control station.
      </a>
          <a class="item item-text-wrap">
        Do not operate a UAV unless in accordance with manufacturer’s operating limitations.
      </a>
          <a class="item item-text-wrap">
        Do not operate a UAV from a moving vehicle without an SFOC.
      </a>
          <a class="item item-text-wrap">
        Do not operate if radio emissions from the aircraft will activate wireless triggers for special effects/fireworks.
      </a>
          <a class="item item-text-wrap">
        Do not operate if the pilot cannot take immediate control of the aircraft at any time.
      </a>
          <a class="item item-text-wrap">
        Do not use a first-person view device unless a visual observer is also watching the aircraft.
      </a>
          <a class="item item-text-wrap">
        Do not hand over control to another pilot or transfer control to another control station without an SFOC.
      </a>
          <a class="item item-text-wrap">
        Do not operate more than one UAV at a time.
      </a>
          <a class="item item-text-wrap">
        Do not use a flight termination system if it will endanger aircraft, people, or property.
      </a>
          <a class="item item-text-wrap">
        Don’t operate a UAV with an ELT on board.
      </a>
          <a class="item item-text-wrap">
        Do not use an aircraft that allows flight controls to be lock unless they can’t be locked during flight and warn the pilot whenever flight lock is engaged.
      </a>
          <a class="item item-text-wrap">
        Do not operate in aviation events without an SFOC.
      </a>
        </div>
      </div>
    </div>


    <ion-list>
      <ion-checkbox ng-model="accept" class="checkbox-calm">I have read the General Flight Rules and acknowledge my operation does not violate
any of these rules.</ion-checkbox>
    </ion-list>
    <button ng-disabled="!accept" class="button button-block button-calm" ng-click="nextUavChk()">
    Next
  </button>
  </ion-content>
</ion-view>
