<ion-view>
  <ion-nav-title>
    Compliance
  </ion-nav-title>

  <ion-content class="padding">
    <h3>PRE-FLIGHT SITE SURVEY  (2/3)</h3>
    <p>The pilot and all essential crew members of the operation have knowledge of the following parameters prior to take-off:</p>

    <ion-list ng-repeat="item in items track by $index">
      <ion-checkbox class="checkbox-calm" type="checkbox" id="{{item.id}}" ng-model="item.checked" ng-change="updateCheckBox(items)">
        {{ item.name }}
      </ion-checkbox>
      <label class="item item-input">
        <input type="text" name="" placeholder="Comments"  ng-model="item.comm" maxlength="120"></input>
      </label>
      <br/>
    </ion-list>

    <button ng-disabled="!disabled" class="button button-block button-calm" ng-click="next()">
    Next
    </button>

  </ion-content>
</ion-view>
