<ion-view view-title="Start Mission">
  <ion-content class="padding">

    <div class="list card" ng-click="newMission1()">
      <a class="item item-body">
        <img class="full-image" src="img/NewMission.png">
        <p>
          {{notice1}}</p>
        </a>
    </div>


    <div class="list card" ng-click="presetMission()">

      <a class="item item-body">
        <img class="full-image" src="img/PresentMission.png">
        <p>
          {{notice2}} </p>
      </a>

    </div>


    <!-- <button class="button button-block button-balanced" ng-click="newMission1()">
      New Mission
    </button>
    <div class="card">
      <div class="item item-text-wrap">
        {{notice1}}
      </div>
    </div>

    {{msg}}
    <button class="button button-block button-calm" ng-click="presetMission()">
      Preset Mission
    </button>
    <div class="card">
      <div class="item item-text-wrap">
        {{notice2}}
      </div>
    </div> -->

  </ion-content>
</ion-view>
